{% extends "layout.html" %}


{% block content %}

<hr>

<h1>Alerte <br> Incendie</h1>

<hr>

<div class="container">
    <p> Alerte Incendie est un projet universitaire qui vise à prévenir les feux de forêt en utilisant des données
        météorologiques ainsi que des données d'incendies récoltées sur les 4 précédentes années. <br>
        Nous sommes convaincus que la prévention est la clé pour éviter les feux de forêt et notre travail a pour
        but d'anticiper les zones à risques. <br><br> Les données météorologiques nous permettent d'identifier les
        conditions qui augmentent le risque d'incendie, en les combinant avec des informations sur les incendies
        survenus lors des années passées, nous avons créé un modèle qui nous permet d'estimer un niveau de risque
        pour chaque département.
        <br><br> Ces modèles peuvent aider à orienter les ressources de lutte contre les incendies vers les zones où
        les incendies sont les plus susceptibles de se produire.
        Notre objectif est de protéger les écosystèmes forestiers et les communautés locales.
        Notre projet contribue à réduire le risque d'incendie et à assurer la sécurité de tous.
    </p>

</div>




{% endblock %}